
.flex {
    display: flex;
    align-items: center;
}

body {
    background-color: #191b20;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height:100%;
    width:190vw;
}
.main{
    width:100%;
}
/* Css cho phần nav */
nav{
    margin:0;
    padding:0;
    width:210vw;
}
nav>ul {
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: #252730;
}

nav>ul>li {
    list-style-type: none;
}

nav>ul>li:nth-child(4) {
    margin-left: auto;
    margin-right:0;

}

nav>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav>ul>li>a>p {
    margin: 0;
}

.logo {
    width: 10rem;
}

.logo>img {
    width: 100%;
}

.user {
    align-items: center;
}

.userInfor>p {
    margin: 0;
    color: #b1b1b5;
}

.userIMG {
    border: 1px solid black;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    padding: 0;
    overflow: hidden;
}

.userIMG>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Css cho nav user */
.user {
    align-items: center;
    display: flex;

}

.userInfor>p {
    margin: 0;
    color: #b1b1b5;
    font-size: 1.3rem;
}

.userIMG {
    border: 1px solid black;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    /* Đặt chiều cao tương ứng với chiều rộng */
    padding: 0;
    /* Đảm bảo không có padding */
    overflow: hidden;
}

.userIMG>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Css cho phần new */
.New {
    width: 80%;
    margin: 0 auto;
}

.New>h1 {
    color: white;
    margin: 1rem;
}

.largeNew {
    width: 47%;
    box-sizing: border-box;
    margin: 0.1%;
}

.largeNews {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
}

.largeNewImg>img {
    width: 100%;
}

.largeNewImg>img {
    border-radius: 10px;
}

.largeNew>p {
    color: white;
}

.largeNew>a {
    color: red;
}

/* Tạo khung dữ liệu cho phần title */
.largeNew>.largeNewTitle {
    width: 100%;
    height: 6.5rem;
    overflow: hidden;
    padding-left: 0.5rem;
}

.largeNew>.largeNewTitle>h2 {
    color: white;
    font-weight: bold;
    text-wrap: wrap;
}

/* Tạo khung dữ liêu cho phần p */
.largeNew>.largeNewP {
    width: 100%;
    height: 5.5rem;
    overflow: hidden;
}

.largeNew>.largeNewP>p {
    color: white;
    font-weight: lighter;
    text-wrap: wrap;
}

/* Tạo khung dữ liệu cho tilte small new */
.smallNew>.smallNewTitle {
    width: 100%;
    height: 13rem;
    overflow:scroll;
}

.smallNew>.smallNewTitle>h2 {
    color: white;
    text-wrap: wrap;
}

.smallNews {
    display: flex;
    justify-content: space-around;
}

.smallNewImg>img {
    width: 100%;
}

.smallNew>p {
    color: white;
}

.smallNew {
    border-radius: 10px;
    width: 22%;
    margin: 0.1%;
}

.smallNew>h2 {
    color: white;
    text-wrap: wrap;
    font-weight: bold;
}

.smallNew>a {

    color: red;
}

/* Css cho phần banner */
.slideshow {
    margin-top: 2rem;
    margin-left:4rem;
    width: 4000%;
    height: 45%;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom:0;

}

.slideshow>.bannerlist>div {
    width: 100%;
    min-width: 100%;
}

.slideshow>.bannerlist {
    display: flex;
    transition: linear 0.3s;
}

.slideshow>.bannerlist>div>img {
    display: block;
    width: 100%;
    z-index: 10;
}

.Banner {
    display: flex;
    align-items: center;
    height: auto;
}

.bannerNames{
    width: 20%;
}
.bannerName {
    overflow: hidden;
    position: relative;
    /* Đặt vị trí tương đối để .Den có thể tham chiếu */
    height: auto;
    /* Đảm bảo chiều cao tự động điều chỉnh */
    border-radius: 10px;
    margin: 2rem 1.3rem 2rem 0;
}

div.Den{
    position: absolute;
    top:7rem;
    border-radius:10px; 
    z-index: 1;
    width:20%;
    height:10%;
    background-color: #404044;
    animation: doiNen2 4s linear 0.01s infinite;
    display:none;
}

.container {
    width: 100%;
    z-index: 1;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: #28282c;
    display:none;
}

.container>p {
    color: white;
    z-index: 100;
    margin-left: 1rem;
}
@keyframes doiNen2{ /* Dung width thay vì dùng left để khỏi chỉnh left right*/
    from{
        width:0%
    }
    to{
        width:16.5%;
    }
}
.image>img {
    position: relative;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}

.image {
    width: 40%;
    box-sizing: border-box;
}

  /* Slideshow container */
  .slideshow-container {
    width:100%;
    position: relative;
  }
  .flex{
      display:flex;
  }
  ul.gamelist{
      list-style-type: none;
  }
  ul.gamelist>li{
      width:100%;
      height:100%;
      padding:0.5rem;
      overflow:hidden;
      cursor:pointer;
  }
  .gameSlides1,.gameSlides2 {
    display: none
  }
  ul.gamelist>li>img{
      width:100%;
      vertical-align: middle;
  }
  /* next and previous button */
  .prev, .next {
    cursor: pointer;
    width: auto;
    padding: 1rem;
    left:65.5%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .btns{
    width:18%;
    position:relative;
    margin-left:auto;
    margin-right:0;
  }
  .btns>a{
    margin-right:0;
    margin-left:auto;
    font-size:2rem;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .text {
    color: #ffffff;
    font-size: 0.9rem;
    position: relative;
    margin-top:10px;
    text-align:left;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {
      opacity: .4
    } 
    to {
      opacity: 1
    }
  }
  
  /* Responsive */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
  .listTitle{
      margin-top: 1rem;
      width:90%;
      margin-left:8rem;
  }
  .listTitle>span{
      font-size:1.5rem;
      color:white;
  }
/* CSS cho mục game*/
div.Games>ul{
    list-style-type:none;
    padding:0;
}
div.Games>ul>li>img{
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
}
div.Games>ul>li{
    width:100%;
    padding:0.5rem;
    padding-bottom:0;
    overflow:hidden;
    position:relative;
}
div.Games>ul>li:first-child{
    width:100%;
    padding-left:0;
}
@keyframes leanback{
    from{
        transform:rotateX(0deg)
    }
    to{
        transform:rotateX(30deg)
    }
}
/* CSS cho phan footer*/
footer {
    margin-top: 2rem;
    padding:0;
    align-items: center;
    text-align: center;
    background-color: #252730;
    position:absolute;    
    width: 210vw;
}

.socialmedia {
    padding: 1rem;
}

.socialmedia>a {
    padding: 0.4rem;
    font-size: 1.5rem;
    width: 2%;
    text-align: center;
    text-decoration: none;
    color: #6b6b6f;
}
.socialmedia>a.contact {
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hotgames {
display: flex;
margin-top: 5rem;
}
