* img {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
}

body {
    background-color: #191b20;
    color: white;
}

/* Css cho phần nav */
.icon{
    font-size: 3rem;
}
.menu > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-left: 0;
    background-color: #252730;
}

.menu > ul > li{
    padding-top: 0;
}
.menu > ul >li:nth-child(4){
    margin-left: auto;
}
.logo{
    width: 200px;
    vertical-align: middle;
}
.menu > ul > li > a{
    text-decoration: none;
    color: #b1b1b5;
    display: block;
    padding: 0 1rem;
}
.menu > ul > li:first-child{
    border-right: 1px solid white;
}
.menu > ul > li > label{
    display: block;
    text-align: left;
    font-size: 1rem;
   margin-left: -1rem;
}
.user{
    align-items: center;
}
.userInfor > p{
    margin: 0;
    color: #b1b1b5;
}
.userIMG{
    border: 1px solid black;
    border-radius: 10px;
    width: 3rem;
    height: 3rem; /* Đặt chiều cao tương ứng với chiều rộng */
    padding: 0; /* Đảm bảo không có padding */
    overflow: hidden;
}
.userIMG > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
