.flex {
    display: flex;
    align-items: center;
}

body {
    background-color: #191b20;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Css cho phần nav */
nav>ul {
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: #252730;
}

nav>ul>li {
    list-style-type: none;
}

nav>ul>li:nth-child(4) {
    margin-left: auto;
    margin-right: 1rem;

}

nav>ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
}

nav>ul>li>a>p {
    margin: 0;
}

.logo {
    width: 10rem;
}

.logo>img {
    width: 100%;
}

.user {
    align-items: center;
}

.userInfor>p {
    margin: 0;
    color: #b1b1b5;
}

.userIMG {
    border: 1px solid black;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    padding: 0;
    overflow: hidden;
}

.userIMG>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Css cho nav user */
.user {
    align-items: center;
    display: flex;

}

.userInfor>p {
    margin: 0;
    color: #b1b1b5;
    font-size: 1.3rem;
}

.userIMG {
    border: 1px solid black;
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    /* Đặt chiều cao tương ứng với chiều rộng */
    padding: 0;
    /* Đảm bảo không có padding */
    overflow: hidden;
}

.userIMG>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Css cho phần new */
.New {
    width: 80%;
    margin: 0 auto;
}

.New>h1 {
    color: white;
    margin: 1rem;
}

.largeNew {
    width: 47%;
    box-sizing: border-box;
    margin: 0.1%;
}

.largeNews {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    border-bottom: 1px solid white;
    padding-bottom: 2rem;
}

.largeNewImg>img {
    width: 100%;
}

.largeNewImg>img {
    border-radius: 10px;
}

.largeNew>p {
    color: white;
}

.largeNew>a {
    color: red;
}

/* Tạo khung dữ liệu cho phần title */
.largeNew>.largeNewTitle {
    width: 35rem;
    height: 6.5rem;
    overflow: hidden;
    padding-left: 0.5rem;
}

.largeNew>.largeNewTitle>h2 {
    color: white;
    font-weight: bold;
    text-wrap: wrap;
}

/* Tạo khung dữ liêu cho phần p */
.largeNew>.largeNewP {
    width: 35.5rem;
    height: 5.5rem;
    overflow: hidden;
}

.largeNew>.largeNewP>p {
    color: white;
    font-weight: lighter;
    text-wrap: wrap;
}

/* Tạo khung dữ liệu cho tilte small new */
.smallNew>.smallNewTitle {
    width: 16rem;
    height: 13rem;
    overflow: hidden;
}

.smallNew>.smallNewTitle>h2 {
    color: white;
    text-wrap: wrap;
}

.smallNews {
    display: flex;
    justify-content: space-around;
}

.smallNewImg>img {
    width: 100%;
}

.smallNew>p {
    color: white;
}

.smallNew {
    border-radius: 10px;
    width: 22%;
    margin: 0.1%;
}

.smallNew>h2 {
    color: white;
    text-wrap: wrap;
    font-weight: bold;
}

.smallNew>a {

    color: red;
}

/* Css cho phần game default */
.gameDefault {
    width: 90%;
    margin: 3rem 0 3rem auto;
    display: flex;
}

.gameDefault>.trailer {
    width: 120%;
    height: 50vh;
}

.gameDefault>.trailer>.trailerGameName {
    margin: 0;
    font-family: "Kanit";
    font-size: 2.5rem;
}

.gameDefault>.trailer>.starRating {
    margin-bottom: 1rem;
}

.gameDefault>.trailer>.starRating>.type {
    font-size: 1rem;
    /* Adjust the font size as needed */
    margin: 1rem;
}

.trailer>.starRating>.type>img {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    /* Optional: Adds some spacing between the image and text */
}

.gameDefault>.trailer>.trailerVideo {
    cursor: pointer;
    width: 100%;
    height: 33.6rem;
    flex-shrink: 0;
    overflow: hidden;
    display:block;
}

.gameDefault>.trailer>.trailerVideo>.bannerList {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.gameDefault>.trailer>.trailerVideo>.bannerList>iframe {
    width: 100%;
    flex-shrink: 0;
}

.gameDefault>.trailer>.trailerVideo>.bannerList>div {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.gameDefault>.trailer>.trailerVideo>.bannerList>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* CSS cho phần popup */
.gameDefault {
    position: relative;
    width:100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    /* Nếu k có visibility thì sẽ không tương tác được với những phần tử bên dưới */
    visibility: hidden; 
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1;
}
/* Khi lớp phủ cần hiển thị */
.overlay.show {
    opacity: 1;
    visibility: visible;
}

.gameDefault>.popUp {
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 10%;
    left: 5%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Khi popup được hiển thị */
.gameDefault>.popUp.show {
    visibility: visible;
    opacity: 1;
}

.gameDefault>.popUp>div {
    position: absolute;
    width: 80%;
    z-index: 3;
}

.gameDefault>.popUp>button {
    position: absolute;
    background-color: #4e43b5;
    top: 0;
    right: 20%;
    z-index: 3;
    cursor: pointer;
}

.gameDefault>.popUp>div>img {
    width: 100%;
}




/* Css cho phần thumbnail */
.trailer>.thumbnail {
    margin-top: 1rem;
    display: flex;
    cursor: pointer;
}

.trailer>.thumbnail>div {
    flex: 1;
}

.trailer>.thumbnail>div>img {
    width: 100%;
}



/* Css cho phần gameInfor */
.gameDefault>.gameInfor {
    box-sizing: border-box;
    width: 35%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

.gameDefault>.gameInfor>.logo {
    width: 100%;
    height: auto;
}

.gameDefault>.gameInfor>.logo>img {
    width: 100%;
    height: 100%;
}

.gameInfor>span {
    background-color: #343437;
    border-radius: 10px;
    padding: 0.3rem;
    width: 20%;
    text-align: center;

}

.gameInfor>div {
    margin: 1rem 0;
}

.gameInfor>button {
    width: 70%;
    margin-bottom: 0.5rem;
    padding: 1.1rem;
    border-radius: 10px;
    background-color: #636366;
    cursor: pointer;
}

.gameInfor>button:first-of-type {
    background-color: #4e43b5;
}

.gameInfor>table {
    border-collapse: collapse;
    overflow: hidden;
    width: 70%;
}

.gameInfor>table tr {
    padding: 1rem;
    border-bottom: 1px solid white;
}

.gameInfor>table td {
    padding: 0.5rem 0;
}

.gameInfor>table td:last-child {
    text-align: right;
    /* Căn phải văn bản trong các ô */
}